spring:
  profiles:
    active: local
  datasource:
    url: ${MYSQL_DATABASE}
    username: ${MYSQL_USERNAME}
    password: ${MYSQL_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 100

  data:
    redis:
      host: ${REDIS_HOST}
      password: ${REDIS_PASSWORD}
      port: 6379

  jwt:
    secret: ${JWT_SECRET_KEY}

logging:
  level:
    org.hibernate.sql: debug

server:
  url: ${SERVER_URL}

---
spring:
  config:
    activate:
      on-profile: local
    import: optional:application-local.yml
---
spring:
  config:
    activate:
      on-profile: prod
    import: application-prod.yml
